.patternGroup button {
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 2px 4px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.patternGroup {
  margin: 0.5rem;
  border: 1px solid #ccc;
  background: #fff;
}
.patternGroup .vegaRenderer {
  padding: 0.5rem;
}
.patternGroup .exportButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.patternGroup button:hover {
  box-shadow: 0 1px 2px #ccc;
}
.patternGroup button i {
  font-size: 14px;
  margin-right: 0.5rem;
}